CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Defaults for this example (can be changed via menuconfig)
CONFIG_EXAMPLE_I2C_PORT_NUM=0
CONFIG_EXAMPLE_I2C_SDA=8
CONFIG_EXAMPLE_I2C_SCL=9
CONFIG_EXAMPLE_I2C_FREQ_HZ=400000
CONFIG_EXAMPLE_MAX30101_I2C_ADDR=0x57
CONFIG_EXAMPLE_LOG_INTERVAL_MS=100
CONFIG_EXAMPLE_LOG_ENABLED_DEFAULT=y

